{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_main') }}">
            <img src="{{ asset('assets/logo.png') }}" alt="logo" height="50px">
        </a>

        {# Bouton du menu latéral : visible uniquement sur mobile #}
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Menu principal : visible uniquement sur desktop #}
        <div class="collapse navbar-collapse d-none d-lg-flex flex-lg-row-reverse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profil') }}">Profil</a>
                    </li>
                    {% if('ROLE_PROFESSEUR' in app.user.roles) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_list') }}">Comptes utilisateurs</a>
                    </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Nous contacter</a>
                </li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_orders') }}">Commandes</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {# Menu latéral : visible uniquement sur mobile #}
        <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    {% if app.user %}
                        {% if('ROLE_PROFESSEUR' in app.user.roles) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_list') }}">Comptes utilisateurs</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}">Nous contacter</a>
                    </li>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_orders') }}">Commandes</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
